<div id="boss-hp-bar" class="hp-bar-container">
  

  <div class="container">
    <div class="ornament-left"></div>
    <div class="token-container">
      <div id="ornamen-icon" class="ornamen-icon"></div>
      <img id="token-image" class="token-image" />
    </div>

    <div class="hpdanbar">
      <div class="uphp">
        <div id="mystic-action" class="mystic-action"></div>
        <div id="token-name" class="token-name"></div>
        <div id="legact-container" class="legact-container">test</div>
      </div>
     
      <div class="hpbg">
        <div id="temphp-bar" class="temphp-bar"></div>
        <div id="bgtemphp-bar" class="bgtemphp-bar"></div>
        <div id="hp-bar" class="hp-bar"></div>
        <div id="bghp-bar" class="bghp-bar"></div>
      </div>
      <div class="underHp">
        <div id="effects-container" class="effects-container"></div>
        <div id="legres-container" class="legres-container"></div>
      </div>
    </div>
    <div class="ornament-right"></div>
  </div>

</div>
